---
layout: default
title: Tag
permalink: /blog/tag/
---
<div class="wrapper">
<div class="tag-cloud">
{% for tag2 in site.tags %}
<a href="#{{ tag2 | first }}">{{ tag2 | first | upcase }}<span>{{ tag2 | last | size }}</span></a>
{% endfor %}
</div>
{% for tag in site.tags %}
<a name="{{ tag | first }}"><h2>{{ tag | first | capitalize }}</h2></a>
    <ul  class="unstyled">
    {% for post in tag.last %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</div>
